@font-face {
    font-family: fot;
    src: url(./Futura-Bold.ttf);
}

*::selection {
    color: #fff;
    background: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav{
    /* height: 100px; */
    width: 100%;
    /* background: burlywood; */
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#nav-part1{
    /* background: red; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav-part2 #links a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    margin:0 20px;
    text-transform: uppercase;
}

#nav-part2 #icon i{
    font-size: 20px;
    margin:  0 20px;
font-weight: 200;
}

#links{
    padding: 10px;
}

#cursor {
    width: 150px;
    height: 150px;
    background: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

body {
    background: #f7f7f7;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1.5vw;
    padding-top: 25vh;
}

#page1 h1 {
    font-size: 18.8vh;
    text-transform: uppercase;
    line-height: 13vw;
    letter-spacing: -8px;
    font-family: fot;
}

#img {
    height: 100vh;
    width: 100%;
    position: relative;
}

#img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background-color: #f0e5e5; */
}

#buy {
    padding: 3vw 2vw;
    background-color: black;
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
    font-family: fot;
    position: fixed;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2vw 1vw;
    justify-content: space-evenly;
}

#page2 .elem {
    height: 100%;
    width: 30%;
    /* background: #000; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem .dets {
    width: 90%;
    height: 50px;
    position: absolute;
    background: #e5f0d6;
    z-index: 9;
    border-radius: 50px;
}

#page3 {
    min-width: 120vh;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 55vh;
    width: 40vw;
    /* background: red; */
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
    width: 100%;
}


/* .elem .dets:hover{

} */



@media (max-width:1000px) {
    #page1 h1 {
        font-size: 6vh;
        letter-spacing: -3px;
        background-color: aqua;
    }

    #page1 {
        width: 100%;
        padding: 0 1.5vw;
        padding-top: 25vh;
        min-height: 100vh;
    }

    #img {
        height: 50vh;
        width: 100%;
        margin-top: 0vh;
        background-color: #000;
    }

    #buy {
        padding: 5vw 3vw;
        font-size: 4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background: #000; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page3 {
        min-width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .child {
        height: 55vh;
        width: 70vw;
        /* background: red; */
        /* border: 2px solid #000; */
        position: relative;
        padding: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .child img {
        height: 100%;
        width: 100%;
    }
    
    #nav{
        /* height: 100px; */
        width: 100%;
        /* background: burlywood; */
        position: fixed;
        z-index: 9;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
        
    }
    
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #nav-part1{
        /* background: red; */
        height: 62px;
        overflow: hidden;
    }
    
    #nav-part1 svg{
        display: block;
        height: 63px;
        width: 80px;
    }
    
    #nav-part2 #links a{
        text-decoration: none;
        color: #000;
        font-weight: 400;
        font-size: 14px;
        margin:0 20px;
        text-transform: uppercase;
    }
    
    #nav-part2 #icon i{
        font-size: 20px;
        margin:  0 20px;
    font-weight: 200;
    }
    #links{
        padding: 10px;
        display: none;
    }


}